<!DOCTYPE html>
<html>
<head><title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome, <%= user.name %>!</h1>
    
    <a href="/todos">Go to To-Do List</a>
    <p><a href="/logout">Logout</a></p>
</body>
</html>