<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Tasks</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="home-page">
    <a href="/logout" class="btn logout">Logout</a>
    <div class="container">
        <header>
            <h1>Hello, <%= user.email %>!</h1>
        
        </header>

        <a href="/todos">Go to Todos</a>
    </div>
</body>
</html>